:root{
    --btn-primary: #009dff;
    --btn-primary-hover: #0086b8;

    --question-primary: #fdf7e2;
    --question-border: #edeff0;

    --question-link-primary: #037ecb;
    --question-tags-primary: #39739d;

    --spinner-primary: #ef8236;
}
.main-bar{
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 70px 0;
    padding: 0;
}
.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-bar-header h1{
    font-weight: 400;
}
.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--btn-primary);
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: none;
    transition: .3s;
}
.main-bar-header .ask-btn:hover{
    background-color: var(--btn-primary-hover);
}
.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: var(--question-primary); */
    background-color: #fdf7e2;
    border-bottom: 1px solid var(--question-border);
}
.display-question-container .display-votes-ans{
    padding: 20px;
}
.display-question-container .display-votes-ans p{
    margin: 0;
    text-align: center;
}
.display-question-details{
    flex-grow: 1;
    padding: 0 20px;
}
.question-title-link{
    text-decoration: none;
    color: var(--question-link-primary);
    transition: .3s;
}
.question-title-link:hover{
    color: var(--btn-primary);
}
.display-question-details p{
    padding: 4px;
    margin: 0;
}
.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 14px;
    background-color: var(--question-border);
    color: var(--question-tags-primary);
}
.display-tags-time .display-time{
    font-size: 14px;
}

/* Spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
  }
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    margin: 8px;
    border: 6px solid var(--spinner-primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--spinner-primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
  